* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}
header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 0;
}
header h1{
    background-color: blue;
    font-size: 48px;
    font-weight: bold;
    color:black;
    padding: 0 5px;
}
header a {
    text-decoration: none;
    color: white;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}
header nav ul li a {
    font-size: 36px;
    padding: 0 5px;
    border-bottom: 3px solid blue;
    margin: 10px;
}
header nav ul li a:hover {
    background: blue;
}
.hero {
    background-image: url("../images/blue-galaxy-watercolor-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 100%; 
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.hero h2 {
    background-color: black;
    padding: 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;

    
}
.section {
    display: flex;
    padding: 10px 0 10px 10px;
    flex-wrap: wrap;
}
.jj5 {
    width: 10%;
    padding: 10px 10px;
    border-right: 3px solid blue;
}
.jj5 h2 {
    text-align:right;
    padding: 0px 10px;
}
.jj6 {
    padding: 10px 10px;
    flex: 1;
}
.jj6img img {
    height: 200px;
    width: 250px;
    padding: 10px 10px;
}
.jj7 {
    display: flex;
    padding: 10px 0 10px 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.jj8 {
    height: 200px;
    width: 48%;
    border: 3px solid blue;
    margin: 10px;
    position: relative;
    background-size: cover;
    background-position: left;
    background-attachment: scroll;
}
.hundred {
    width: 100%;
    height: 400px;
}
.jj9 {
    position: absolute;
    bottom: 10px;
    background-color: blue;
    padding: 10px 5px;
    font-weight: bold;
    font-size: 24px;
}
.jj9 p {
    font-weight: normal;
    font-size: 16px;
}
.project-1-img {
    background-color:darkmagenta;
    background-image: url("../images/Run-buddy.png");
}
.project-2-img {
    background-color: red;
    background-image: url("");
}
.project-3-img {
    background-color: aqua;
    background-image: url("");

}
.project-4-img {
    background-color: darkgreen;
    background-image: url("");

}
.project-5-img {
    background-color: coral;
    background-image: url("");

}